################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/WinTaskLableMessage/v16
/WinTaskLableMessage/bin/Debug
/WinTaskLableMessage/obj/Debug
